@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Montserrat+Alternates:wght@400;500&display=swap');

html{
  font-size: 10px;
}
body {
  margin: 0;
  font-family: 'Montserrat Alternates', sans-serif;
}

:root{
  --text-primary: #0a2351;
  --primary:#33965f;
}
.container{
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
a{
  text-decoration: none;
}